@model ProvaFacil.Models.UsuarioLogin

@{
    ViewBag.Title = "Login";
}

<div class="row" style="margin:auto auto 5% auto">
    <a style="text-decoration:none" href="https://localhost:44370">
        <div class="titulo">
            Gerador de Provas<br />
            Online
        </div>
    </a>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <div class="caixaLogin">
                    <h3 style="margin-top: 5%; margin-bottom: 22%; color: #47525E; font-weight: 500;">Login no sistema</h3>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-left", @style = "margin-top: -10%" })
                    <div class="form-group" style="margin-top: 10%">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control text-center col-sm-8 offset-sm-2 txtLoginCadastro", @placeholder = "E-mail", @maxlength = "60" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-info" })
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control text-center col-sm-8 offset-sm-2 txtLoginCadastro", @placeholder = "Senha", @type = "password", @maxlength = "20" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-info" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Entrar" class="btnLogin" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
